In [9]:
import pandas as pd

In [16]:
snow = pd.read_csv('data/MODIS/snow_cover.csv').set_index('date')
temp = pd.read_csv('data/MODIS/land_surface_temp_K.csv').set_index('date')

In [17]:
temp.head()

            LST_Day_1km
date
2013_01_01  13637.58888
2013_01_02  13726.96287
2013_01_03  13740.39250
2013_01_04  13486.85150
2013_01_05          NaN

In [18]:
snow.head()

            NDSI_Snow_Cover
date
2013_01_01        56.669666
2013_01_02        52.070299
2013_01_03        51.463661
2013_01_04        65.101677
2013_01_05              NaN